

/*#################################################*/
/*###                   Colors                 ####*/
/*#################################################*/


.blue-low {
	background: #D4F0FF;
}

.blue-middle {
	background: #3D62FC;
}

.gray {
	background: #F1F1F1;
}

.withe {
	background: white;
}

/*#################################################*/
/*###                   Tags                 ####*/
/*#################################################*/
header {
	display         : flex;
	align-items     : center;
	justify-content : center;
}

button {
	background    : #3D62FC;
	border-radius : 5px;
	color         : white;
	font-family   : Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	font-size     : 20px;
	padding       : 10px 15px;
	border        : none;
}

footer{
	height        : 400px;
	background    : #D4F0FF;
	margin-top    : 200px;
	display       : flex;
	flex-wrap     : wrap;
	border-radius : 20px;
}

li{
  margin: 0 0 20px 0;
}
/*#################################################*/
/*###                   Class                  ####*/
/*#################################################*/
.div-header {
	width: 50%;
	height: 150px;
}

.label-title {
	font-size   : 25px;
	font-family : "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin      : 20px;
}

.title {
	font-family : "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size   : 40px;
	color       : #3D62FC;
}

.dis-flex {
	display: flex;
}

.con-campania {
	width  : 50%;
	height : 1200px;
}

.img-logo {
	padding   : 20px;
	min-width : 200px;
	max-width : 400px;
}

.color-blue-middle {
	color: #3D62FC;
} 
.icon{
	width         : 40px;
	height        : 40px;
	background    : #D4F0FF;
	border-radius : 10px;
	border        : solid #D4F0FF 10px;
}

.item-txt-schedule {
	color     : #3D62FC;
	font-size : 30px;
	/*margin: 20px;*/
}

.each-beneficio {
	display         : flex;
	width           : 300px;
	flex-direction  : column;
	align-items     : center;
	justify-content : bottom;
	border-radius   : 20px;
	padding         : 20px;
	box-shadow      : rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
	
}
.b-img{
	width  : 50px;
	height : 50px;
}

.b-p {
  /*display: inline-block;*/
	vertical-align : top;
	max-width      : 140px;
	text-align     : center;
}

.con-preracion {
	width         : 50%;
	height        : 1200px;
	border-radius : 20px;
}

.each-con-preparacion {
	height          : 26%;
	text-align      : center;
	padding         : 10px;
	display         : flex;
	flex-direction  : column;
	align-content   : center;
	justify-content : center;
	border-radius   : 20px;
	box-shadow      : rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.p-preparacion {
	font-size   : 20px;
	font-family : Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;	
}

.each-final{
	width           : 280px;
	height          : 200px;
	flex-wrap       : wrap;
	justify-content : center;
	align-content   : center;
	border-radius   : 20px;
	padding         : 10px;
	box-shadow      : rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.final-button {
	/*width     : 120px;*/
	height    : 50px;
	font-size : 15px;
}

.foo-div {
	width         : 47.5%;
	padding       : 20px;
}

.foo-div-top{
	height: 65%;
}

.foo-div-bottom {
	height: 10%;	
}

.each-foo-div-top-right{
	width           : 25%;
	height          : 70%;
	display         : flex;
	flex-direction  : column;
}

/*#################################################*/
/*###                     ID                   ####*/
/*#################################################*/
#vacunacion {
	position : relative;
	margin   : 50px 40px;
}

#con-titles {
	position : absolute;
	top      : 60px;
	left     : 800px;
}

#con-img-campania {
	display         : flex;
	justify-content : center;
	align-items     : bottom;
	border-radius   : 0 0 20px 20px;
}

#div-triangle {
	width        : 0; 
	height       : 0; 
	border-left  : 100px solid transparent;
	border-right : 100px solid transparent;
	border-top   : 100px solid #F1F1F1;
}


#text-campania {
	font-family : "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size   : 20px;
}

#con-logos {
	opacity         : 0.2;
	width           : 100%;
	justify-content : center;
	align-items     : center;
}

#con-schedules {
	position : absolute;
	top      : 800px;
	left     : 100px;
	width    : 1200px;
	height   : 300px;
}

#schedules-opciti {
	position: relative;
	top: 20px;
	left: 60px;
	width: 70%;
	height: 70%;
	opacity: 0.6;
	border-radius: 10px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

#schedules {
	display         : flex;
	position        : absolute;
	top             : 120px;
	left            : 70px;
	width           : 900px;
	height          : 150px;
	align-items     : center;
	justify-content : center;
	gap             : 50px;
}

#con-why{
/*	background: red;*/
	width: 100%;
	/*height: 250px;*/
	/*padding: 40px;*/
	margin-top: 100px;
}

#title-why{
	font-size: 60px;
}

#p-why {
	font-size: 20px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#con-beneficios {
	/*width         : 100%;*/
	/*height        : 400px;*/
	/*margin-top    : 200px;*/
	align-content   : center;
	justify-content : center;
	gap             : 60px;
}

#con-preracion-left {
	display         : flex;
	justify-content : center;
	align-items     : bottom;
	background: linear-gradient(180deg, #FFFFFF 50%, #3D62FC 50%);
}
#con-preracion-rigth {
	display         : flex;
	flex-direction  : column;
	grid-gap        : 20px;
	padding         : 20px;
	align-content   : center;
	justify-content : center;
}

#img-beneficios {
	position : relative;
	margin   : 400px 100px 0px 100px;
	/*top    : 300px;*/
	/*width  : 600px;*/
	/*height : 500px;*/
}

#label-preparacion {
	border: 50px;
}

/*FINAL*/
#final-rigth{
	display         : flex;
	justify-content : center;
	align-items     : bottom;
	background      : linear-gradient(180deg, #FFFFFF 50%, #3D62FC 50%);	
}

#final-left {
	display        : flex;
	flex-direction : column;
}

#final-left-top{
	width           : 100%;
	height          : 30%;
	/*background    : red;*/
	display         : flex;
	flex-direction  : column;
	text-align      : center;
	padding         : 20px;
	justify-content : center;

}

#final-left-bottom{
	width           : 100%;
	height          : 70%;
	/*background      : blue;*/
	display         : flex;
	flex-wrap       : wrap;
	align-content   : center;
	justify-content : center;
	gap             : 100px;

}


#foo-div-top-right {
	display         : flex;
	align-items     : center;
	justify-content : center;
	gap             : 20px;
}
